@import "../../sass/vars";

div {
  @include box-shadow();
  background-color: $accent-btn-color;
  width: 100%;
  border-radius: $box-border-radius;
  overflow: hidden;
  height: $chapter-height-closed;
  &.open {
    height: $info-height-open;
  }
}

.mainBtn {
  font-size: $font-size-big;
  width: 100%;
  height: $btn-height !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $primary-color;

  & p {
    padding-top: 3px;
    padding-right: $padding-medium;
    display: inline-block;
    width: 80%;
    text-align: right;
  }
}


.item {
  width: 100%;
  cursor: pointer;
  height: $chapter-height;
  background-color: $accent-btn-color;
  display: flex;
  align-items: center;
  & p {
    width: 100%;
    text-align: end;
    font-size: $font-size-meddium;
    fill: $secondary-text-color;
    &.selected {
      font-size: $font-size;
      fill: $primary-text-color;
    }
  }
}
