@import "../../sass/vars";

div {
  @include box-shadow();
  background-color: $accent-btn-color;
  width: 100%;
  border-radius: $box-border-radius;
  overflow: hidden;
  height: $chapter-height-closed;
  &.open {
    height: $info-height-open;
  }
}

.main-btn {
  font-size: $font-size-big;
  width: 100%;
  height: $chapter-height-closed !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $primary-color;
  & img {
    position: absolute;
    right: 30px;
  }
  & img.selected {
    position: absolute;
    right: 60px;
  }
  & p {
    color: $accent-btn-color;
    padding-right: $padding-wide;
    display: inline-block;
    font-weight: 700;
    width: 70%;
    text-align: right;
  }
}

.item {
  &:hover {
    background: $primary-color-light;
    & p {
      display: none;
    }
    & img {
      right: 30px;
      display: block;
    }
  }
  &.selected {
    background: $primary-color !important;
    & img {
      display: block;
      right: 30px;
    }
    & p {
      display: none;
    }
  }
  width: 100%;
  cursor: pointer;
  height: $chapter-height;
  background-color: $accent-btn-color;
  display: flex;
  align-items: center;
  & p {
    width: 100%;
    text-align: end;
    padding: $padding-wide;
    font-size: $font-size-meddium;
    fill: $secondary-text-color;
    &.selected {
      font-size: $font-size;
      fill: $primary-text-color;
    }
  }
  & img {
    position: absolute;
    right: 0;
    display: none;
  }
}
