@import "../../sass/vars";

div {
  @include box-shadow();
  background-color: $accent-btn-color;
  width: 100%;

  overflow: hidden;
  height: $info-height-closed;
  &.open {
    height: $info-height-open;
  }
}

.hamburger {
  font-size: $font-size-big;
  width: 100%;
  height: $btn-height !important;
  transform: rotate(180deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &-text {
    padding-top: 3px;
    padding-right: $padding-small;
    display: inline-block;
    transform: rotate(180deg);
    width: 80%;
    text-align: right;
  }
}

.item {
  width: 90%;
  padding: $padding-small;
  background-color: $accent-btn-color;
  display: flex;
  align-items: center;
  & .text {
    width: 100%;
    text-align: end;
    font-size: $font-size-meddium;
    fill: $secondary-text-color;

    &.selected {
      font-size: $font-size;
      fill: $primary-text-color;
    }
  }
}
