<div [ngClass]="open===''? '' : 'open'">

  <button *ngIf="!currentNode?.hasOwnProperty('children') && prev.length===0"
          (click)="toggle()"
          [ngClass]="'hamburger hamburger--elastic '+open"
          type="button"
          aria-label="Menu" aria-controls="navigation">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
    <p class="hamburger-text">
      {{currentNode ? currentNode.name : 'תוכן עניניים'}}
    </p>
  </button>

  <button *ngIf="currentNode?.hasOwnProperty('children') || prev.length > 0"
          [ngClass]="'hamburger hamburger--arrowturn '+open"
          type="button"
          aria-label="Menu" aria-controls="navigation">
  <span (click)="open===''? toggle() : unselect()" class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
    <p (click)="toggle()" class="hamburger-text">
      {{currentNode.name}}
    </p>
  </button>

  <svg viewBox="0 0 120 400">
    <g *ngFor="let title of nodes;let i = index;"
       (mouseenter)="current(title,i)"
       (mouseleave)="reset(title,i)"
       (click)="selected($event,title,i)"
    >
      <path [attr.d]="title.a" fill="transparent"/>

      <text [ngClass]="currentNode === title ? 'selected':''"
            [attr.x]="title.x - 4.5"
            [attr.y]="title.y"
      >
        {{title.name}}
      </text>
      <circle [attr.cx]="title.x" [attr.cy]="title.cy" r="2"/>
      <path [attr.d]="title.d"/>
    </g>
  </svg>
</div>
