<div [ngClass]="open===''? '' : 'open'">

  <button class="mainBtn" (click)="toggleOpen()"
          [ngClass]="''+open"
          type="button"
          aria-label="Menu" aria-controls="navigation">
    <p>
      {{!!pageService.chapter ? pageService.chapter.title : 'תוכן עניניים'}}
    </p>
  </button>

  <div class="item" *ngFor="let title of pageService.chapters ;let i = index;"
       (click)="click($event,title,i)">
    <p data-image="#FAFAFA" [ngClass]="(_selected === title ? 'selected':'')">
      {{title.title}}
    </p>
    <img src="{{title.img}}"/>
  </div>
</div>
