@import "../../sass/vars";

.chapters {
  margin-top: $control-padding-screen-wide;
  width: $chapter-width;
  right: $control-padding-screen;
  position: fixed;
  z-index: 105;
}

.book-buttons {
  z-index: 1;
  position: fixed;
  bottom: $control-padding-screen;
  right: $control-padding-screen;
  height: $btn-height;
}

.commentary {
  margin-top: 100px;
  left: $control-padding-screen;
  position: fixed;
  z-index: 105;
  width: $info-width;
}

#viewer {
  direction: ltr;
  @include base-background();
  height: 100%;
  overflow: hidden;
  padding: $nav-size + $control-padding-screen $chapter-width + $control-padding-screen * 2 $control-padding-screen $info-width + $control-padding-screen * 2;
}



