@import "../../sass/vars";


#home{
  position: absolute;
  right: $padding-small;
}
details{
  min-height: 100px;
}
summary::-webkit-details-marker {
  display: none
}
summary{
  min-height: $nav-size;
  background-image: url(/assets/triangular.png);
  background-repeat: no-repeat;
  background-position: center 60px;

}

details[open] {
  background: $primary-color-dark;
}
#title {
  flex-grow: 1;
}
summary{
  text-align: center;
}

ul {
  @include box-shadow();
  list-style-type: none;
  background-color:  $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  z-index: 5;
  height: $nav-size;
}

li * {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: $font-size-big;
  cursor:pointer;
  margin: auto;
}

/* Change the link color to #111 (black) on hover */
li *:hover {

}
