@import "../../sass/vars";

#home {
  position: absolute;
  right: $padding-medium;
}

#title {
  flex-grow: 1;
  & h4 {
    min-height: $nav-size;
    background-image: url("/assets/res/img/general/nev_down/normal.svg"), url("/assets/res/btn/genreal/arrow/normal.svg");
    background-repeat: no-repeat;
    background-position: center 70px, center 50px;
  }
}

ul {
  //@include box-shadow();
  list-style-type: none;
  background-color: $primary-color-dark;
  opacity: 0.96;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  z-index: 5;
  height: $nav-size;
}

li * {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: $font-size-big;
  cursor: pointer;
  margin: auto;
}

.lang {
  height: 32px;
  width: 57px;
  color: #FBF9ED;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
}
