@import "../../sass/vars";

#jp_container_1, .jp-interface {
  //@include box-shadow();
  background-color: $primary-color-dark !important;
  opacity: 0.96 !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  z-index: 5 !important;
  height: $nav-size !important;
  display: flex;
  align-items: center;
  align-content: space-between;
  & .jp-volume-controls {
    display: flex;
    & .jp-volume-max {
      width: 24px;
      height: 22px;
      background-repeat: no-repeat;
      //background-image: url('');
    }
    & .jp-mute{
      width: 30px;
      height: 24px;

      background-repeat: no-repeat;
      background-image: url('/assets/img/res-btn-player-mute-normal.svg');
    }
  }
  & .jp-title{
    color: #FBF9ED;
  }
  & .jp-controls{
    display: flex;

    & .jp-play {
      width: 16px;
      height: 22px;
      background-repeat: no-repeat;
      background-image: url('/assets/img/res-btn-player-play-normal.svg');
    }
    & .jp-stop{
      width: 16px;
      height: 22px;

      background-repeat: no-repeat;
      background-image: url('/assets/img/res-btn-player-pause-normal.svg');
    }
  }

}

.jp-progress {
  flex-grow: 1;

}
