@import "../../sass/vars";

.div {
  @include box-shadow();
  border-radius: $box-border-radius;
  background-color: $accent-btn-color;
  width: 100%;
  text-align: right;
  overflow: hidden;
  & p {
    margin: 3px;
  }
  height: $info-height-closed;
  &.open {
    height: $info-height-open;
  }
}

.button{
  background-color: $primary-color;
  width: 100%;

  height: $info-height-closed !important;
  display: flex;
  align-content: space-between;
  & img {
    margin: $padding-small;
  }
  & .text{
    border : none;
  }
}

.text {
  margin: $padding-small;
  padding: $padding-small;
  font-size: $font-size;
  width: 90%;
  text-align: right;
  border : 2px Solid $primary-btn-color;
  border-radius : $box-border-radius;

}


