@import "../../sass/vars";
.div{
  @include box-shadow();
  background-color: $accent-btn-color;
  width: 100%;
  text-align: right;
  overflow: hidden;
  & p{
    margin: 3px;
  }
  height: $btn-height;
  &.open {
    height: $info-height-open;
  }
}

.hamburger{
  font-size: $font-size-big;
  width: 100%;
  height: $btn-height !important;
  transform: rotate(180deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &-text{
    padding-right: $padding-small;
    display: inline-block;
    transform: rotate(180deg);
    width: 80% ;
    text-align: right;
  }
  & .hamburger-inner{
    visibility: hidden;
    margin-top: -4px;
    &.active{
      transform: rotate(270deg);
      margin-top: 0;
    }
    &:before{
      visibility: visible;
      border: 0.9px solid black;
    }
    &:after{
      visibility: visible;
      border: 0.9px solid black;
    }
  }
}

