@import "../../sass/vars";

.div {
  @include box-shadow();
  border-radius: $box-border-radius;
  background-color: $accent-btn-color;
  width: 100%;
  text-align: right;
  height: $info-height-closed;
  .button {
    background-color: $primary-color;
    width: 100%;

    height: $info-height-closed !important;
    display: flex;
    align-content: space-between;
    & img {
      margin: $padding-small;
      transform: rotate(-90deg);
    }
    & .text {
      position: absolute;
      right: 60px;
      color: $accent-btn-color;
      display: inline-block;
      font-weight: 700;
      width: 70%;
      text-align: right;
      font-size: $font-size-big;
    }
  }
  & .content {
    display: none;
  }
  &.open {
    height: $info-height-open;
    & .button {
      & img {
        transform: rotate(90deg);
      }
    }
      & .content {
      display: block;
      height: $info-height-open - $info-height-closed;
      padding: 0 $padding-medium;
      overflow-y: auto;
      & p {
        margin: 3px;
      }
      .text {
        margin: $padding-small;
        padding: $padding-small;
        font-size: $font-size;
        width: 90%;
        text-align: right;
        border: 2px Solid $primary-btn-color;
        border-radius: $box-border-radius;
      }
    }
  }
}




@media (max-width: 600px) {
  div {
    display: none;
  }
}
