@import "../../sass/vars";

div {
  @include box-shadow();
  font-size: $font-size-big;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  background-color: $accent-btn-color;
  &.ad{
    background-color: $primary-btn-color;
  }
  &.poster {
  }

  &.poster a {

    padding: 0 $padding;
  }

}

