/* You can add global styles to this file, and also import other style files */
@import "sass/vars";

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

.diva-outer, .diva-wrapper {
  height: 100% !important;
  background-color: $primary-back-dark;
  background-image: url("/assets/res/img/general/background-pattern.png");
  background-repeat: repeat;
}

.diva-viewport {
  //overflow: hidden;
  width: 110% !important;
  overflow-x: hidden;
}

.diva-zoom-label, .diva-page-nav {
  display: none !important;
}

.diva-fullscreen-tools {
  bottom: 15px;
}

.diva-zoom-label, #diva-1-title {
  display: none !important;
}

.diva-fullscreen-tools,
.diva-fullscreen-tools .diva-grid-label,
.diva-fullscreen-tools .diva-page-label {
  display: inline-block !important;
}
