/* You can add global styles to this file, and also import other style files */
@import "sass/vars";

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

.diva-outer, .diva-wrapper {
  height: 100% !important;
  @include base-background()
}

.diva-viewport {
  //overflow: hidden;
  width: 110% !important;
  overflow-x: hidden;
}

.diva-fullscreen-tools {
  background-color: transparent;
  border: 0;
  bottom: $control-padding-screen-bottom;
  box-shadow: none;
}

#diva-1-view-icon, #diva-1-fullscreen-icon, #diva-1-title,#diva-1-dwn-icon,#diva-1-print-icon, .diva-zoom-label, .diva-goto-form {
  display: none !important;
}

.diva-fullscreen-tools, .diva-page-nav,
.diva-fullscreen-tools .diva-grid-label,
.diva-fullscreen-tools .diva-page-label {
  display: inline-block !important;
}

.diva-button {
  width: $info-height-closed;
  height: $info-height-closed;
  border-radius: 2px;
  margin: 3px;
  border: none;
  background-position: center;
  background-color: rgba(56, 76, 98, 0.8) !important;
}

#diva-1-print-icon {
  background-image: url("/assets/img/res-btn-tools-print-normal.svg");
  width: 170px;
}

#diva-1-link-icon {
  background-image: url("/assets/img/res-btn-tools-share-normal.svg");

}

#diva-1-dwn-icon {
  background-image: url("/assets/img/res-btn-tools-share-normal.svg");

}

#diva-1-zoom-out-button {
  background-image: url("/assets/img/res-btn-tools-zoomout-normal.svg");

}

#diva-1-zoom-in-button {
  background-image: url("/assets/img/res-btn-tools-zoomin-normal.svg");
}

.highlight-page {
  width: 80px !important;
  height: 80px !important;
  background-color: transparent !important;
  border: none !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  z-index: 1005;
  overflow: visible;
}

.highlight-audio {
  direction: rtl;
  &.selected{
    &:before {
      width: 80px !important;
      height: 80px !important;
      content: url("/assets/img/res-btn-info-close-normal.svg") !important;
    }
    &:hover:before{
      content: url("/assets/img/res-btn-info-close-selected.svg") !important;
    }
  }
  &:before {
    width: 80px !important;
    height: 80px !important;
    content: url("/assets/img/res-btn-hagada-music-normal.svg") !important;
  }
  &:hover:before{
    content: url("/assets/img/res-btn-hagada-music-hover.svg") !important;
  }
}

.highlight-info {
  background-image: url("/assets/img/res-btn-hagada-info-normal.svg") !important;
  &:hover {
    background-image: url("/assets/img/res-btn-hagada-info-hover.svg") !important;
  }
}

.jp-playlist {
  z-index: 102;
  & div, li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $player-size !important;
  }
  & li {
    background-color: $player-background-color;
    & a.jp-playlist-item {
      display: flex;
      line-height: $player-size;
      height: $player-size;
      font-size: 20px;
      color: $accent-color;
      font-weight: 700;
      &:after {
        margin-left: $padding-wide;
        padding: 10.5px;
        height: $player-size;
        border-left: 2px solid $primary-color;
        content: url(assets/img/res-img-playlist-icon-of-song-normal.svg);
      }
      &:hover:after{
        content: url(assets/img/res-img-playlist-icon-of-song-hover.svg);
      }
    }
  }
  & .jp-playlist-item-remove{
    color:$accent-color;
  }
}

.track-jumbotron {
  direction: rtl;
  margin: -40px 40px;
  width: 314px !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: $padding-wide;
  flex-flow: column;
  border-radius: 3px;
  background-color: rgba(251, 249, 237, 0.9);
  box-shadow: 6px 2px 6px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
  & h4 {
    font-weight: bolder;
    text-align: right;
    padding: 0;
    margin: 0;
    direction: rtl;
  }
  & h4 + p {
    padding-bottom: $padding-medium;
    font-weight: bolder;
  }
  & span {
    font-weight: normal;
  }
  & p {
    margin: 0;
    padding-left: $padding-small;
    line-height: 1;
  }
  & .flex-row {
    width: 100%;
    display: flex;
    margin: 0;
    & p {
      display: inline;
    }
  }
  & .summary {
    & span {
    }
    font-weight: normal;
    &:after {
      display: inline-block;
      content: "{";
      transform: rotate(180deg);
    }
    &:before {
      display: inline-block;
      content: "}";
      transform: rotate(180deg);
    }
  }

}
