<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hgda-info-model">Large modal</button>

<div class="modal fade hgda-info-model" id="hgda-info-model" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
      <div class="modal-body">
        <div class="hgda-info-container">
          <div class="image">
            <img id="info-img" src="" alt="Info picture">
          </div>
          <div class="text-container">
            <h2 id="info-title"></h2>
            <div class="info-text-container"><p id="info-text"></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

